Popcorn/moviecatalog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="movie">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string" />
              <xs:element name="director" type="xs:string" />
              <xs:element name="duration" type="xs:string" />
			  <xs:element name="session" type="xs:string"  />
              <xs:element name="ReleaseDate" type="xs:string" />
              <xs:element name="casts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="cast" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="language" type="xs:string" />
              <xs:element name="synopsis" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="movieID" type="xs:string" use="required" />
            <xs:attribute name="genre" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>